@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%); */
  color: black;
}
.coinApp{
  display: flex;
  flex-direction: column;
  color: #fff;
}

.formSearch{
  margin: auto;
  padding: 25px;
}

.h1Title{
  margin: auto;
  padding: 40px 0 10px 0;
}

.orderBtnList{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0 25px 0;
}

.orderBtn{
  border: none;
  border-bottom: black solid 2px;
  padding: 10px 25px 10px;
}

.orderBtn:hover{
  background-color: lightgray;
}

.inputSearch{
  padding: 10px;
  border-radius: 5px;
}
